h1{text-align: center; font-family:Impact; color: Scarlet;} 
body {background-color: rgb(182,165,173); font-family: sans-serif;
color: red;
background-image: url(https://media1.tenor.com/m/hQwXAsBhF9sAAAAd/the-game-ohio-state-football.gif);
background-repeat: no-repeat;
background-size: 100vw 100vh}
a:hover {color: grey;}
a:active {color: green;}
img{display: block;
display
width: 300px;

}
figcaption{text-align: left;}
footer {color: red;}

