h1{text-align: center; font-family:Impact; color: Scarlet;} 
body {font-family: sans-serif;
color: red;
background-image: url(https://cmsv2-assets.apptegy.net/uploads/679/file/63802/9e5a772b-ece7-49b9-8d0d-81cdf3622460.png);   background-repeat: no-repeat;
     background-size: cover;} 
a:hover {color: grey;}
a:active {color: green;}
img{display: block;
display
width: 300px;

}
figcaption{text-align: left;}
footer {color: red;}

